<!--
    loading.html

    Global loading screen component

    Used by:
    - loader.js
    - Page transitions
    - Dynamic content loading
-->


<div class="loading" data-loading>



    <div class="loading__container">



        <!-- Logo -->

        <img
            src="assets/images/company/logo.webp"
            alt="Beyond Horizon Technologies"
            class="loading__logo"
        >




        <!-- Loading Animation -->

        <div class="loading__spinner">


            <span></span>

            <span></span>

            <span></span>


        </div>




        <p class="loading__text">

            Loading...

        </p>



    </div>



</div>
