<div class="loading" id="loading">

    <div class="loading__container">

        <div class="loading__logo">

            <img 
                src="assets/images/company/logo.webp" 
                alt="BH RIT Logo"
            >

        </div>


        <div class="loading__spinner">

            <span></span>
            <span></span>
            <span></span>

        </div>


        <p class="loading__text">
            Loading...
        </p>

    </div>

</div>
