<!--
    modal.html

    Reusable modal component

    Dynamic values:
    {{title}}
    {{content}}
    {{action}}

    Used for:
    - Product details
    - Image preview
    - Download confirmation
    - Contact forms
-->


<div
    class="modal"
    data-modal
    aria-hidden="true"
>



    <div class="modal__overlay" data-modal-close></div>




    <div class="modal__container">



        <!-- Modal Header -->

        <div class="modal__header">


            <h2 class="modal__title">

                {{title}}

            </h2>



            <button
                class="modal__close"
                data-modal-close
                aria-label="Close modal"
            >

                &times;

            </button>



        </div>





        <!-- Modal Content -->

        <div class="modal__body">


            {{content}}


        </div>





        <!-- Modal Footer -->

        <div class="modal__footer">


            {{action}}


        </div>




    </div>




</div>
