<!--
    navbar.html

    Main website navigation component

    Dynamic values:
    {{company_logo}}
    {{navigation_items}}

    Used by:
    navigation.js
-->


<header class="navbar" data-navbar>



    <div class="navbar__container">



        <!-- Logo -->

        <a
            href="index.html"
            class="navbar__logo"
        >


            <img
                src="assets/images/company/logo.webp"
                alt="Beyond Horizon Technologies"
                loading="lazy"
            >


        </a>





        <!-- Navigation Menu -->

        <nav class="navbar__menu" data-menu>



            <ul class="navbar__links">


                <li class="navbar__item">

                    <a
                        href="index.html"
                        class="navbar__link"
                    >

                        Home

                    </a>


                </li>




                <li class="navbar__item">


                    <a
                        href="pages/about.html"
                        class="navbar__link"
                    >

                        About

                    </a>


                </li>





                <li class="navbar__item">


                    <a
                        href="pages/products.html"
                        class="navbar__link"
                    >

                        Products

                    </a>


                </li>





                <li class="navbar__item">


                    <a
                        href="pages/industries.html"
                        class="navbar__link"
                    >

                        Industries

                    </a>


                </li>





                <li class="navbar__item">


                    <a
                        href="pages/portfolio.html"
                        class="navbar__link"
                    >

                        Portfolio

                    </a>


                </li>





                <li class="navbar__item">


                    <a
                        href="pages/support.html"
                        class="navbar__link"
                    >

                        Support

                    </a>


                </li>





                <li class="navbar__item">


                    <a
                        href="pages/contact.html"
                        class="navbar__link navbar__link--button"
                    >

                        Contact Us

                    </a>


                </li>



            </ul>



        </nav>





        <!-- Navigation Actions -->

        <div class="navbar__actions">



            <!-- Search -->

            <button
                class="navbar__action"
                data-search-toggle
                aria-label="Open search"
            >


                <img
                    src="assets/icons/navigation/search.svg"
                    alt="Search"
                >


            </button>





            <!-- Theme Toggle -->

            <button
                class="navbar__action"
                data-theme-toggle
                aria-label="Toggle theme"
            >

                🌙

            </button>





            <!-- Mobile Menu Button -->

            <button
                class="navbar__toggle"
                data-menu-toggle
                aria-label="Open menu"
            >


                <img
                    src="assets/icons/navigation/menu.svg"
                    alt="Menu"
                >


            </button>



        </div>




    </div>




</header>
