<nav class="navbar">

    <div class="navbar__container">

        <a 
            href="index.html" 
            class="navbar__logo"
        >
            <img 
                src="assets/images/company/logo.webp" 
                alt="BH RIT Logo"
            >
        </a>


        <button 
            class="navbar__toggle"
            type="button"
            aria-label="Toggle navigation"
        >
            <span></span>
            <span></span>
            <span></span>
        </button>


        <div class="navbar__menu">

            <ul class="navbar__list">

                <li class="navbar__item">
                    <a 
                        href="pages/home.html"
                        class="navbar__link"
                    >
                        Home
                    </a>
                </li>


                <li class="navbar__item">
                    <a 
                        href="pages/about.html"
                        class="navbar__link"
                    >
                        About
                    </a>
                </li>


                <li class="navbar__item navbar__item--dropdown">

                    <a 
                        href="#products"
                        class="navbar__link"
                    >
                        Products
                    </a>


                    <ul class="navbar__dropdown">

                        <li>
                            <a href="#crawler">
                                Crawler
                            </a>
                        </li>

                        <li>
                            <a href="#dji">
                                DJI Enterprise
                            </a>
                        </li>

                        <li>
                            <a href="#kc2">
                                KC2
                            </a>
                        </li>

                        <li>
                            <a href="#pekaka">
                                Pekaka
                            </a>
                        </li>

                        <li>
                            <a href="#rov">
                                ROV
                            </a>
                        </li>

                        <li>
                            <a href="#shareuav">
                                Share UAV
                            </a>
                        </li>

                        <li>
                            <a href="#skygauge">
                                SkyGauge
                            </a>
                        </li>

                    </ul>

                </li>


                <li class="navbar__item">
                    <a 
                        href="pages/industries.html"
                        class="navbar__link"
                    >
                        Industries
                    </a>
                </li>


                <li class="navbar__item">
                    <a 
                        href="pages/portfolio.html"
                        class="navbar__link"
                    >
                        Portfolio
                    </a>
                </li>


                <li class="navbar__item">
                    <a 
                        href="pages/support.html"
                        class="navbar__link"
                    >
                        Support
                    </a>
                </li>


                <li class="navbar__item">
                    <a 
                        href="pages/contact.html"
                        class="navbar__link"
                    >
                        Contact
                    </a>
                </li>

            </ul>


            <a 
                href="pages/contact.html"
                class="btn btn--primary navbar__button"
            >
                Request Consultation
            </a>

        </div>

    </div>

</nav>
