<!--
    productCard.html

    Reusable product card component

    Dynamic values:
    {{image}}
    {{name}}
    {{category}}
    {{description}}
    {{link}}

    Used by:
    productBuilder.js
-->


<article class="product-card" data-product-card>




    <!-- Product Image -->

    <div class="product-card__image">



        <img
            src="{{image}}"
            alt="{{name}}"
            loading="lazy"
        >



    </div>





    <!-- Product Content -->

    <div class="product-card__content">




        <span class="product-card__category">

            {{category}}

        </span>





        <h3 class="product-card__title">


            {{name}}


        </h3>





        <p class="product-card__description">


            {{description}}


        </p>






        <a
            href="{{link}}"
            class="btn btn--primary product-card__button"
        >

            View Details

        </a>




    </div>





</article>
