<!--
    sidebar.html

    Reusable sidebar component

    Used for:
    - Product filtering
    - Documentation navigation
    - Support pages
    - Category navigation

    Dynamic values:
    {{title}}
    {{menu_items}}
-->


<aside class="sidebar" data-sidebar>




    <!-- Sidebar Header -->

    <div class="sidebar__header">


        <h3 class="sidebar__title">

            {{title}}

        </h3>


    </div>





    <!-- Sidebar Menu -->

    <nav class="sidebar__navigation">


        <ul class="sidebar__list">



            {{menu_items}}



            <!--

            Example:

            <li class="sidebar__item">

                <a
                    href="#"
                    class="sidebar__link"
                >

                    Product Overview

                </a>

            </li>

            -->



        </ul>


    </nav>





</aside>
